<?xml version="1.0" encoding="UTF-8"?>
<configuration> <!-- debug="true" scan="true" scanPeriod="30 seconds" -->
    <!--<property resource="application.properties" />-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
            <level>WARN</level>
            <level>INFO</level>
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%class{0}] [%level] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs-archive/app.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
            <level>WARN</level>
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%class{0}] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/app-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs-archive/app-error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%class{0}] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="detail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/app-detail.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs-archive/app-detail.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="perform" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/app-perform.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs-archive/app-perform.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root name="com.sumscope.cdh" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="default"/>
    </root>
    <logger name="com.sumscope.cdh.realtime.log.ErrorAppender" level="ERROR">
        <appender-ref ref="error"/>
    </logger>
    <logger name="com.sumscope.cdh.realtime.log.DetailAppender" level="DEBUG">
        <appender-ref ref="detail"/>
    </logger>
    <logger name="com.sumscope.cdh.realtime.log.PerformanceAppender" level="TRACE">
        <appender-ref ref="perform"/>
    </logger>

</configuration>